@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300&family=Orbitron&display=swap');

.home-bg {
    padding: 50px;
    padding-top: 100px;
}

.layoutBox {
    background-color: #31304D;
    border-radius: 11px;
    padding: 15px;
    padding-top: 25px;
    width: 210px;
}

.printBox {
    width: 100%;
    height: 60px;
    background-color: white;
    border-style: none;
    border-radius: 10px;
    color: black;
    text-align: right;
    padding: 10px;
    font-size: 25px;
    font-family: Orbitron;
    font-weight: bold;
}

.butn-style {
    width: 18%;
    height: 35px;
    margin: 4px;
    background-color: #31304D;
    color: white;
    border-radius: 100px;
}

.Equal {
    width: 80px;
}